In [1]:
import pandas as pd
from typing import Any
from dataclasses import dataclass
import plotly.express as px

In [2]:
df = pd.read_csv("./marathon_results.csv")

In [3]:
df

,runnerId,firstName,bib,age,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,41771195,Abdi,7.0,35,M,Nijmegen,NLD,NaN,NED,1,2:07:39,4:53,1,6:57,1,96.86,4
1,41775746,Evans,3.0,35,M,Kapsabet,KEN,-,KEN,2,2:07:45,4:53,2,7:03,2,96.79,2
2,41766254,Albert,2.0,30,M,Kapkitony,KEN,NaN,KEN,3,2:08:00,4:53,3,8:00,3,96.06,5
3,41763160,Tamirat,1.0,33,M,Addis Ababa,ETH,NaN,ETH,4,2:08:12,4:54,4,8:02,4,96.03,4
4,41757406,Geoffrey,6.0,31,M,Kapchorwa District,KEN,-,KEN,5,2:08:50,4:55,5,8:50,6,95.44,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55519,41802120,Lay,66580.0,73,W,Auckland,NZL,Auckland,GBR,55520,11:23:55,26:06:00,24707,12:47,24396,31.29,1
55520,41753795,Guillermo,12699.0,71,M,Garza-Garcia,MEX,Nuevo Leon,MEX,55521,11:38:21,26:39:00,30695,28:49:00,30674,24.16,37
55521,41751479,Thomas,12713.0,82,M,Randolph,USA,NJ,USA,55522,11:42:21,26:48:00,30696,56:59:00,30501,29.49,35
55522,41770749,Jill,14443.0,43,W,Chicago,USA,IL,USA,55523,11:43:07,26:50:00,24708,12:19,24709,20.14,1
55523,41770690,Ceil,12888.0,59,W,Long Island City,USA,NY,USA,55524,11:47:55,27:00:00,24709,17:33,24701,24.29,1

In [4]:
df = df.set_index("runnerId")

In [5]:
df.overallTime = pd.to_timedelta(df.overallTime)

In [6]:
def age_band(age):
    for g in range(0, 100, 10):
        if g < age <= g+10:
            return f"{g+1}-{g+10}"
    return "0-100"

In [7]:
df["ageBand"] = df.age.apply(age_band)

In [8]:
df["overallTimeSeconds"] = df.overallTime.dt.seconds

In [9]:
df["overallTimeMinutes"] = df.overallTimeSeconds/60
df["minutesPerMile"] = df.overallTimeMinutes/26.2188
df["minutesPerKM"] = df.overallTimeMinutes/42.195

In [10]:
df.to_hdf("data.hdf", key="main")

C:\Users\najee\AppData\Local\Temp\ipykernel_36012\1187751394.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->Index(['firstName', 'gender', 'city', 'countryCode', 'stateProvince', 'iaaf',
       'pace', 'ageGradeTime', 'ageBand'],
      dtype='object')]

  df.to_hdf("data.hdf", key="main")

In [11]:
max_time = df.overallTimeMinutes.max()
max_steps = 50

In [12]:
@dataclass
class Racer:
    name: str
    time: float
    count: int = 1
    racer_id: int | None = None
    other: dict[str, Any] | None = None

    def position_history(self):
        rows = []
        for i in range(max_steps+1):
            current_time = max_time/max_steps*i            
            current_position = 26.2188 if current_time >= self.time else current_time/self.time * 26.2188
            details = {
                "name":self.name,
                "time": current_time,
                "position": current_position,
                "count": self.count,
                "age": 0,
                "age-band":"",
                "gender": "",
            }
            if self.racer_id:
                person = df.loc[self.racer_id]
                details.update(
                    {
                        "age": person.age,
                        "age-band": person.ageBand,
                        "gender": person.gender,
                    }
                )
            rows.append(details)
            if self.other:
                details.update(self.other)
        return rows

In [13]:
racers = []

In [14]:
racers.append(
    Racer(
        name="Average Person",
        time=df.overallTimeMinutes.mean(),
        count=df.overallTimeMinutes.count(),
    )
)

In [15]:
def create_groups(grouped, prefix):
    racers = []
    for group, df_group in grouped:
        genders = df_group["gender"].value_counts().to_dict()
        racers.append(
            Racer(
                name = f"Average {prefix}: {group}",
                time = df_group.overallTimeMinutes.mean(),
                count = df_group.shape[0],
                other = {"age":df_group.age.mean(),**genders}
            )
        )
        racers.append(
            Racer(
                name = f"Fastest {prefix}: {group}",
                time = df_group.overallTimeMinutes.min(),
                count = df_group.shape[0],
                other = {"age":df_group.age.mean(),**genders}
            )
        )
        racers.append(
            Racer(
                name = f"Slowest {prefix}: {group}",
                time = df_group.overallTimeMinutes.max(),
                count = df_group.shape[0],
                other = {"age":df_group.age.mean(),**genders}
            )
        )
    return racers

In [16]:
racers+=(create_groups(df.groupby("gender"), "by gender"))
racers+=(create_groups(df.groupby("ageBand"), "by age band"))
racers+=(create_groups(df.groupby("countryCode"), "by country"))

In [17]:
race_points = []

In [18]:
for racer in racers:
    race_points+= racer.position_history()
df_race = pd.DataFrame(race_points)

In [19]:
df_race.sort_values(by=["time", "name"]).to_hdf("data.hdf", key="positions")